PROJECT  = ""
REGION = ""

COMPUTE_API               = ""
CONTAINER_API             = ""
OAUTH_CLOUD_PLATAFORM_API = ""

NETWORK_TIER                  = ""
PRIVATE_SUBNET_CIDR_RANGE     = ""
KUBERNETES_POD_CIDR_RANGE     = ""
KUBERNETES_SERVICE_CIDR_RANGE = ""

MASTER_IPV4_CIDR_BLOCK = ""
WORKLOAD_POOL          = ""
MACHINE_TYPE           = ""

KUBERNETES_SERVICE_ACCOUNT = ""